body{
    background: linear-gradient(to top, #b225b2, #e0d6e3 );
    font-family: sans-serif;
    font-weight: bold;
    /*Ordenar el contenido interno .main*/
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #71147d;
    font-size: 35px;
}

h3{
    color: #71147d;
}

.main{
    background: linear-gradient(to top, #56125f, #9c31d1 );
    width: 80%;
    height: 70%;
    border-radius: 20px;
    /*Ayuda a centrar completamente, preferible mejorar*/
    margin-top: 80px;
    margin-bottom: 75px;
    padding: 20px;
}

.main__container{
    /*evitar que se corte la imagen cuando se agrande*/
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main__container--card{
    background: white;
    border-radius: 25px;
    margin: 15px;
    width: 300px;
    /*Ayuda a que se mantenga en una sola linea las cards*/
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    transition: 450ms;
    cursor: pointer;
}

/*Cuando se pasa el mause por el .main_container se aplica la opacidad a las cards*/
.main__container:hover .main__container--card{
    opacity: 30%;
}

/*Cuando se pasa el mause por la card, se transforma una de las cartas*/
.main__container:hover .main__container--card:hover{
    transform: scale(1.25);
    opacity: 1;
}

.main__container--img{
    height: 95px;
    width: 95px;
    border-radius: 50%;
}

.main__container--card p{
    padding: 10px;
    text-align: justify;
}